<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094722200101-c90ne3q39kptfikb1d08oc0il2o9avcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094722200101-c90ne3q39kptfikb1d08oc0il2o9avcj</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0kOI9zHPgc6d3SkTXAWZeJ69PKuI550</string>
	<key>GCM_SENDER_ID</key>
	<string>1094722200101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alpine-software.Alpine-Music-App</string>
	<key>PROJECT_ID</key>
	<string>alpine-music-app-18884</string>
	<key>STORAGE_BUCKET</key>
	<string>alpine-music-app-18884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094722200101:ios:e4ca949e1c574a65f615cc</string>
</dict>
</plist>