<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608970407626-91ts24hl82baigv8mcqk9hnheij8lf45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608970407626-91ts24hl82baigv8mcqk9hnheij8lf45</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbLr4ZE2Tij0I6nQPWkAbZu36LflwBlA</string>
	<key>GCM_SENDER_ID</key>
	<string>608970407626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alpine-software.Alpine-Music-App</string>
	<key>PROJECT_ID</key>
	<string>alpine-music-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alpine-music-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608970407626:ios:9db322d36dd9a2a1fdfe33</string>
</dict>
</plist>